[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-decouple = "*"
motor = "*"
pytest-asyncio = "*"
jinja2 = "*"
coverage = "*"
dnspython = "*"
loguru = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-pythonpath = "*"
pytest-asyncio = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
